# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db



# Uploaded images
static/uploads/

# Large datasets
data/
PlantVillage/
unidentified/

# Logs
*.log
